@charset "utf-8";
/* CSS Document */

.about {
	padding-bottom: 20px;
}

.about img {
	width: 200px;	
	height: 200px;
}

.aboutlayout {
	display: flex;
	margin-left: 17px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-right: 17px;
	border-bottom-width: 3px;
	border-bottom-style: ridge;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.aboutcontent {
	margin-left: 20px;
	width: 100%;
}