@charset "utf-8";
/* CSS Document */

.about {
	padding-bottom: 20px;
}

.separator {	
	margin-top: 20px;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0,0,0,1.00);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

h1 {
	padding-left: 50px;
}

h2 {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 50px;
	text-shadow: 
      0px -1px 0 darkgray, 
      -1px 1px 1px grey, 
      -2px 2px 1px lightgray; 
}

.fulcrumsheet {
	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 15px;
	padding-top: 20px;
	border-bottom-width: 4px;
	border-bottom-style: ridge;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	flex-wrap: wrap;
}

.fulcrumsheet .aboutcontentright {
	flex-basis: 77%;
}

.fulcrumsheet img {
	padding-left: 10px;
	flex-shrink: 0;
	height: 100%;
}

.folder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.sheet {
	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 15px;
	padding-top: 20px;
	border-bottom-width: 4px;
	border-bottom-style: ridge;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.sheet:hover {
	border-bottom: none;
	border-width: 2px;
	border-style: outset;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.sheet img {
	width: 150px;	
	height: 150px;
	margin-right: 10px;
}

.aboutcontentright {
	margin-left: 20px;
	margin-right: 10px;
	width: 100%;
	text-align: justify;		
	text-shadow:
		-1px 1px 5px grey, 
      	-2px 2px 5px lightgray;
}

.aboutcontentleft {
	margin-right: 20px;	
	padding-left: 10px;
	width: 10em;	
	line-height: 1.2em;	
	text-shadow:
		-1px 1px 5px grey, 
      	-2px 2px 5px lightgray;
}

.aboutcontentleft p {
	margin-bottom: 0;
	margin-top: 0.5em;
}

h3 {
	margin-top: 5px;
	margin-bottom: 15px;	
	text-shadow: 
      0px -1px 0 darkgray, 
      -1px 1px 1px grey, 
      -2px 2px 1px lightgray; 
}
@media (max-width: 1096px) {	
	#fulcrumlogo {
		width: 140px;
		height: 140px;
	}
	.sheet img {
		width: 105px;
		height: 105px;
	}
	.fulcrumsheet .aboutcontentright {
		flex-grow: 1;
	}
}
@media (max-width: 767px) {	
	#fulcrumlogo {
		width: 100px;
		height: 100px;
	}
	.sheet img {
		width: 80px;
		height: 80px;
	}
}
@media (max-width: 320px) {	
}