@charset "utf-8";
.FAQ {
	padding-left: 20px;
	padding-right: 20px;
}

.domanda {
	margin-bottom: 20px;
}

.FAQ h2 {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;	
}

.FAQ p {
	margin-bottom: 0px;
	margin-top: 0px;
}