@charset "UTF-8";

.container {	
	margin-top: 15px;
}

.news {	
	height: 260px;
	margin-top: 6px;	
}

.news h3 {
	margin-top: 0;
	margin-bottom: 6px;
	text-align: center;
	font-size: 22px;
}

.newsarticlebox {
	display: flex;
	justify-content: space-between;
}

.newsarticle {	
	width: 252px;	
	text-align: justify;
}

.newsimage {
	border: 1px groove #8B8181;
	border-radius: 3px;
	width: 250px;
	height: 125px;
}

footer {
	display: inline-block;
}

/* Small Desktops */
@media (max-width: 1096px) {	
	.newsimage {
		width: 182px;
		height: 77px;
	}
}

/* Small Tablets */
@media (max-width: 767px) {	
	.news {
		height: 420px;
	}

	.newsarticle {
		width: 50%;	
		padding-bottom: 30px;
	}
}

/* Mobile */
@media (max-width: 320px) {
	.news {
		height: 840px;
	}
	.newsarticle {
		width: 100%;
	}
}
