@charset "UTF-8";

.news {	
	height: 260px;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

.newsarticle {
	float: left;
	width: 25%;
	text-align: center;	
}

.newsarticle p {
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}
.newsimage {
	border: 3px groove #8B8181;
	border-radius: 4px;
	width: 250px;
	height: 125px;
}

footer {
	display: inline-block;
}

/* Small Desktops */
@media (max-width: 1096px) {	
	.newsimage {
		width: 182px;
		height: 77px;
	}
}

/* Small Tablets */
@media (max-width: 767px) {	
	.news {
		height: 420px;
	}

	.newsarticle {
		width: 50%;	
		padding-bottom: 30px;
	}
}

/* Mobile */
@media (max-width: 320px) {
	.news {
		height: 840px;
	}
	.newsarticle {
		width: 100%;
	}
}
